.App{
    position: relative;
    width:100vw;
    height:100vh;
    background-image: url('./res/images/bg.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center500300{
    width:500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:300px;
    background-color: rgba(0,0,0,0.2);
}

.runBtn{
    min-height:40px;
    padding:10px 20px;
    background-color:red;
    color:white;
    font-weight: bold;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px; 
    cursor: pointer;
}

.runBtn:hover{
    border: none;
}

.colorlist{
    box-sizing: border-box;
    width:100%;
    display: flex;
    flex-flow: row reverse;
    align-items: center;
    padding: 2%;
    margin-top: 5%;
    overflow-x: auto;
    background-color: white;
}

.colorlist font {
    margin-right: 5px;
}



@media only screen and (max-width:600px){
    .center500300{
        width:100vw;
    }
}